<h1>Deleted Posting Successfully!!</h1>
<script type="text/javascript">
function delayedRedirect(){
    window.location = "/jobs"
}
</script>
<body onLoad="setTimeout('delayedRedirect()', 3000)">
<h1>You'll be redirected soon!</h1>